.noSelf{
    flex: 1;
    display: flex;
    flex-direction: column;

    >div:last-child{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#thead {
    display: flex;
}

.typeone {
    padding: 2.5rem 5.8333rem;
}

.typetwo {
    padding: 2.5rem 5.8333rem;
}

.th {
    color: #FFF;
    font-family: "PingFang SC";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    flex: 1;
}

.th span {
    color: #FFF;
    font-family: "PingFang SC";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    display: inline-block;
    margin-right: 4.5rem;
}

.typeone>div:nth-child(2),
.typetwo>div:nth-child(2) {
    text-align: center;
}

.typeone>div:nth-child(3),
.typetwo>div:nth-child(3) {
    text-align: center;
}

.typeone>div:nth-child(4) {
    text-align: center;
}

.typeone>div:nth-child(5),
.typetwo>div:nth-child(4) {
    text-align: right;
}

.colorr {
    width: 100%;
    height: 1px;
    opacity: 0.6;
    margin-bottom: 0;
    background: linear-gradient(90deg, rgba(165, 242, 0, 0.00) 1.07%, #FFC701 53.32%, rgba(165, 242, 0, 0.00) 100.4%);
}

.tbody {
    display: flex;
    padding: 1.333rem 0px;
    margin: 0 5.8333rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);

    .btn_mask {
        opacity: 0.5;
    }
}

.tbody>div {
    color: #FFF;
    font-family: "PingFang SC";
    font-size: 1.6666rem;
    font-style: normal;
    font-weight: 400;
    flex: 1;
    line-height: 4.1666rem;

    @media (max-width: 425px) {
        white-space: nowrap;
    }
}

.tbody>div:nth-child(2) {
    color: #00FFC8;
    cursor: pointer;
}

.tbody>div:not(:last-child, :first-child) {
    text-align: center;
}

.tbody>div:last-child {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.tbody .ant-btn {
    width: 12.0833rem;
    height: 4.1666rem;
    padding: 0;
    border-radius: 1.1666rem;
    background-color: transparent;
    border: 1px solid #29D1AB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tbody .ant-btn>span {
    color: #FFF;
    font-family: "PingFang SC";
    font-size: 1.6666rem;
    font-style: normal;
    font-weight: 400;
}